<mat-card>
    <mat-card-header>
        <mat-card-title>Se connecter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <mat-card *ngIf="errMsg">
                <mat-card-content>
                    <span class="error-text">{{errMsg}}</span>
                </mat-card-content>
            </mat-card>
            <div class="form-group">
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="username" required id="username"
                        name="username">
                    <mat-error>
                        {{ unVal(username) }}
                    </mat-error>
                </mat-form-field>

            </div>
            <div class="form-group">
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" name="password" formControlName="password"
                        id="password">
                    <mat-error>
                        {{ pwdVal(password) }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
            </div>

        </form>
    </mat-card-content>
    <mat-card-footer *ngIf="loading">
        <mat-progress-bar mode="indeterminate" color="danger"></mat-progress-bar>
    </mat-card-footer>
</mat-card>